img.displayed  {
	width: 150px;
  }

/*
table th {
    background-color: #4CAF50;
    color: white;
}
*/

thead tr.header-row {
	display: none;
}

.short-description {
	/*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-row {
    white-space: nowrap;
}

.col-size {
	width: 130px;
}

.project-name {
	text-align: center;
}

.project-tagline {
	text-align: center;
}

.site-footer {
	text-align: center;
}