.page-header {
  text-align: center;
}

.site-footer {
  text-align: center;
}


thead tr {
	display: none;
}

.language, .weekday, .time, .price, .map, .source {
  white-space: nowrap;
}

.weekday {
  width: 60px;
}

.time {
  width: 87px;
}
.price {
  width: 54px;
}

.eventname {
  width: 130px;
}

.image {
  width:150px;
}

.organizer {
  width: 143px;
}

.language {
  width: 30px;
}

.short-description {
	/*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-globe {
  content: url(../img/world-20px.png);
}

.fa-myfacebook:before {
  content: url(../img/facebook-20px.png);
}

.fa-meetup:before {
  content: url(../img/meetup-20px.png);
}

.fa-eventbrite:before {
  content: url(../img/eventbrite-20px.png);
}
